:root {
    --color-black: #000000; 
    --color-primary: #34547a;
    --color-secondary: #717171; 
    --color-gray-light: #eeeff1; 
    --color-white: #ffffff; 

    --font-size: 16px;
    --font-family: "Roboto", sans-serif;
    --line-height: 1.64;
    --letter-spacing:0.1em;

    --container-primary: 69.375rem;
    --container-secondary: 33.75rem;

    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-md: calc(var(--gap) * 1.5);
    --gap-lg: calc(var(--gap) * 2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
html {
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
}
body {
    background-color: var(--color-white);
}
a {
    text-decoration: none;
}
.container {
    width: min(100% - var(--gap-lg), var(--container-primary));
    margin-inline: auto;
}

.container--sm {
    width: min(100% - var(--gap-lg), var(--container-secondary));
}

.visually-hidden {
    position: absolute;
    width: .0625rem;
    height: .0625rem;
    margin: -0.0625rem;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.header {
    background-color: var(--color-gray-light);
    padding-top: 4.3125rem;
    padding-bottom: 8.8125rem;
}

.navbar {
    margin-bottom: 136px;
}

.navbar__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-lg);
}

.navbar__item {}

.navbar__link {
    display: block;
    color: var(--color-black);
    padding: 0.5em .1875rem 0.5em 0;
    letter-spacing: var(--letter-spacing);
}

.navbar__link--active {
    color: var(--color-primary);
    font-weight: 500;
}

.content {
    max-width: var(--container-secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content__title {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 2.0625rem;
}

.content__description {
    color: var(--color-secondary);
    margin-bottom: 3.5625rem;
}

.content__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 14.0625rem;
    min-height: 4.0625rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    letter-spacing: var(--letter-spacing);
    padding: 0.5em;
}

.section {
    padding-top: 6.5625rem;
    padding-bottom: 5.75rem;
}

.section__title {
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}

.section__description {
    color: var(--color-secondary);
    text-align: center;
}
.process {
    background-color: var(--color-gray-light);
    margin-bottom: -2.625rem;
}

.expirience {
    padding-top: 6.25rem;
    padding-bottom: 5.75rem;
    background-color: var(--color-primary);
}

.expirience__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap);
}

.video {
    background-color: var(--color-gray-light);
    padding-bottom: 6.25rem;
}

.video__iframe {
    border: 0;
    height: 37.5rem;
    width: 100%;
    display: block;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__name {
    font-size: 1.3125rem;
    font-weight: 500;
}

.footer__copyright {
    font-size: 0.8125rem;
}

@media (min-width: 375px) {
    .container {
        padding: 30px; 
    }

    .content {
        margin-top: 40px; 
    }
} 