.expirience {
    padding-top: 6.25rem;
    padding-bottom: 5.75rem;
    background-color: $color-primary;
    &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: ($gap);
    }
  }