* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  html {
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
  }
  body {
    background-color: $color-white;
  }
  a {
    text-decoration: none;
  }